@import './css/button.css';
@import './css/table.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

#app {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  justify-content: space-between;
}

main {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;

  p {
    width: 100%;
    max-width: 100ch;
    margin: 0 auto;
    text-align: left;
  }
}
